#home {
  background: linear-gradient(
    180deg,
    #000000 33.5%,
    #666666 55%,
    #000000 76.5%
  );
  width: 100%;
  z-index: 0;
}

.logo-txt {
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-txt h1 {
  font-size: 6rem;
  font-weight: 200;
  background: linear-gradient(90.03deg, #999999 48.45%, #ffd600 92.62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: "Julius Sans One", sans-serif;
}

.logo-txt h4 {
  font-family: "Rajdhani", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.car-logo {
  position: relative;
  left: 0;
  top: -10%;
  width: 50%;
  height: 70vh;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.car-logo img {
  width: 70%;
  position: absolute;
  margin: auto;
}

img.mirror {
  transform: rotate(180deg);
  margin-top: 50%;
   /*USA PORCENTAGEM CARAIO  */
  opacity: 0.5;
}

.headlights {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.headlight {
  position: absolute;
  top: 35%;
  width: 150px;
  height: 100px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 0, 0) 60%
  );
  border-radius: 25%;
  animation: blink 4s infinite;
}

.headlight2 {
  position: absolute;
  top: 82%;
  width: 150px;
  height: 100px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 0, 0) 50%
  );
  border-radius: 25%;
  animation: blink 4s infinite;
}

.left,
.left2 {
  left: 20%;
}

.right,
.right2 {
  right: 20%;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.unidades {
  position: absolute;
  top: 40%;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30%;
}

.unidade1,
.unidade2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.unidades h2 {
  font-size: 4rem;
  font-weight: 200;
  background: linear-gradient(90.03deg, #999999 48.45%, #ffd600 92.62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: "Julius Sans One", sans-serif;
}

.unidades p {
  margin-top: 0.3rem;
  font-family: "Rajdhani", sans-serif;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.4rem;
}

.loader {
  margin-bottom: 0.7rem;
  width: 44.8px;
  height: 44.8px;
  position: relative;
  transform: rotate(45deg);
  transition: 0.3s ease-in-out;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50% 50% 0 50%;
  background: #0000;
  background-image: radial-gradient(
    circle 11.2px at 50% 50%,
    #0000 94%,
    #ffd900
  );
}

.loader:after {
  animation: pulse-ytk0dhmd 1s infinite;
  transform: perspective(336px) translateZ(0px);
}
.loader:hover {
  cursor: pointer;
}

@keyframes pulse-ytk0dhmd {
  to {
    transform: perspective(336px) translateZ(168px);
    opacity: 0;
  }
}

@media (max-width:1200px) {

}