#home {
  background: linear-gradient(
    180deg,
    #000000 33.5%,
    #666666 55%,
    #000000 76.5%
  );
  width: 100%;
  z-index: 0;
}

.logo-txt {
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-txt h1 {
  font-size: 6rem;
  font-weight: 200;
  background: linear-gradient(90.03deg, #999999 48.45%, #ffd600 92.62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: "Julius Sans One", sans-serif;
}

.logo-txt h4 {
  font-family: "Rajdhani", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.car-logo {
  position: relative;
  top: -25%;
  left: 0;
  width: 99%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-logo-frente-luzes {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 17vh;
}

.car-logo-frente-luzes2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40vh;
}

.car-logo-frente-luzes div {
  position: absolute;
}

.car-logo-frente-luzes2 div {
  position: absolute;
}

.left {
  position: absolute;
  top: 33.5%;
  left: 14%;
}

.left2 {
  position: absolute;
  top: 48%;
  left: 14%;
}

.right {
  position: relative;
  top: 33.5%;
  right: 14%;
}

.right2 {
  position: relative;
  top: 48%;
  right: 14%;
}

img.mirror {
  transform: rotate(180deg);
  opacity: 0.5;
}

.headlight,
.headlight2 {
  width: 100px;
  height: 100px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 0, 0) 60%
  );
  border-radius: 25%;
  animation: blink 4s infinite;
}

.headlight2 {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 0, 0) 50%
  );
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.unidades {
  position: absolute;
  top: 40%;
  width: 99%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30%;
  overflow-x: hidden;
}

.unidade1,
.unidade2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.unidades h2 {
  font-size: 4rem;
  font-weight: 200;
  background: linear-gradient(90.03deg, #999999 48.45%, #ffd600 92.62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: "Julius Sans One", sans-serif;
}

.unidades p {
  margin-top: 0.3rem;
  font-family: "Rajdhani", sans-serif;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.4rem;
}

.loader {
  margin-bottom: 0.7rem;
  width: 44.8px;
  height: 44.8px;
  position: relative;
  transform: rotate(45deg);
  transition: 0.3s ease-in-out;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50% 50% 0 50%;
  background: #0000;
  background-image: radial-gradient(
    circle 11.2px at 50% 50%,
    #0000 94%,
    #ffd900
  );
}

.loader:after {
  animation: pulse-ytk0dhmd 1s infinite;
  transform: perspective(336px) translateZ(0px);
}
.loader:hover {
  cursor: pointer;
}

@keyframes pulse-ytk0dhmd {
  to {
    transform: perspective(336px) translateZ(168px);
    opacity: 0;
  }
}

@media (min-height: 1070px) {
  .car-logo-frente-luzes {
    top: 24%;
  }

  .car-logo-frente-luzes2 {
    top: 43.5%;
  }
}

@media (max-width: 1200px) {
  .car-logo img {
    width: 80%;
  }

  .car-logo-frente-luzes {
    top: 21%;
  }

  .car-logo-frente-luzes2 {
    top: 39%;
  }

  .left {
    position: absolute;
    top: 32.5%;
    left: 17%;
  }

  .left2 {
    position: absolute;
    top: 46%;
    left: 17%;
  }

  .right {
    position: relative;
    top: 33.5%;
    right: 17%;
  }

  .right2 {
    position: relative;
    top: 46%;
    right: 17%;
  }
}

@media (max-width: 1100px) {
  .unidades h2 {
    font-size: 3rem;
    font-weight: 600;
  }

  .unidades p {
    font-size: 1rem;
  }

  .loader {
    margin-bottom: 0.5rem;
    width: 33.8px;
    height: 33.8px;
    position: relative;
    transform: rotate(45deg);
    transition: 0.3s ease-in-out;
  }

  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50% 50% 0 50%;
    background: #0000;
    background-image: radial-gradient(
      circle 8.2px at 50% 50%,
      #0000 94%,
      #ffd900
    );
  }
}

@media (max-width: 950px) {
  .car-logo img {
    width: 60%;
  }

  .car-logo-frente-luzes {
    top: 26%;
  }

  .car-logo-frente-luzes2 {
    top: 40%;
  }

  .left {
    position: absolute;
    top: 28%;
    left: 25%;
  }

  .left2 {
    position: absolute;
    top: 43%;
    left: 25%;
  }

  .right {
    position: relative;
    top: 28%;
    right: 25%;
  }

  .right2 {
    position: relative;
    top: 43%;
    right: 25%;
  }
}

@media (max-width: 800px) {
  .unidades h2 {
    font-size: 2rem;
    font-weight: 600;
  }

  @media (max-width: 675px) {
    .car-logo img {
      min-width: 235px;
      width: 40%;
    }

    .car-logo-frente-luzes {
      top: 30%;
      min-width: 280px;
      max-width: 280px;
    }

    .car-logo-frente-luzes2 {
      top: 39.6%;
      min-width: 280px;
      max-width: 280px;

    }

    .left {
      position: absolute;
      top: 29%;
      left: 15%;
    }

    .left2 {
      position: absolute;
      top: 43%;
      left: 15%;
    }

    .right {
      position: relative;
      top: 29%;
      right: 15%;
    }

    .right2 {
      position: relative;
      top: 43%;
      right: 15%;
    }

    .headlight,
    .headlight2 {
      width: 60px;
      height: 60px;
    }
  }

  .unidades p {
    font-size: 0.8rem;
    width: 80%;
    text-align: center;
  }

  .loader {
    margin-bottom: 0.5rem;
    width: 22.8px;
    height: 22.8px;
    position: relative;
    transform: rotate(45deg);
    transition: 0.3s ease-in-out;
  }

  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50% 50% 0 50%;
    background: #0000;
    background-image: radial-gradient(
      circle 5.2px at 50% 50%,
      #0000 94%,
      #ffd900
    );
  }
}

@media (max-width: 500px) {
  .logo-txt h1 {
    font-size: 5rem;
  }

  .logo-txt h4 {
    font-size: 1rem;
  }
}

@media (max-width: 550px) {
  .unidades {
    top: 70%;
    gap: 1%;
  }
}

@media (max-width: 400px) {
  .logo-txt h1 {
    font-size: 4rem;
    margin-top: -3rem;
  }

  .car-logo-frente-luzes {
    top: 30dvh;
  }

  .car-logo-frente-luzes2 {
    top: 42dvh;
  }
}

@media (max-width: 420px) {
  .logo-txt h1 {
    font-size: 4rem;
    margin-top: -3rem;
  }

  .car-logo-frente-luzes {
    top: 29dvh;
  }

  .car-logo-frente-luzes2 {
    top: 40.5dvh;
  }
}

@media (min-width: 1366px) and (max-width: 1366px) and (min-height: 768px) and (max-height: 768px) {
  .car-logo img {
    width: 80%;
  }

  .car-logo-frente-luzes {
    top: 21%;
  }

  .car-logo-frente-luzes2 {
    top: 39%;
  }

  .left {
    position: absolute;
    top: 32.5%;
    left: 17%;
  }

  .left2 {
    position: absolute;
    top: 46%;
    left: 17%;
  }

  .right {
    position: relative;
    top: 33.5%;
    right: 17%;
  }

  .right2 {
    position: relative;
    top: 46%;
    right: 17%;
  }
}
