#sobre_nos {
  background: linear-gradient(
    180deg,
    #000000 33.5%,
    #666666 55%,
    #000000 76.5%
  );
  position: absolute;
  width: 100%;
  z-index: -10;
  overflow: hidden;
}
/* carrro e farol */
.car-logo-3 {
  position: relative;
  top: -10%;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

.car-logo-frente-luzes3 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15vh;
}

.car-logo-frente-luzes4 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50vh;
}

.car-logo-frente-luzes3 div {
  position: absolute;
}

.car-logo-frente-luzes4 div {
  position: absolute;
}

.headlight3 {
  top: 35%;
  width: 90px;
  height: 90px;
  background: radial-gradient(
    circle,
    rgb(255, 0, 0) 0%,
    rgba(255, 255, 0, 0) 60%
  );
  border-radius: 25%;
  animation: blink 4s infinite;
}

.headlight4 {
  top: 49%;
  width: 90px;
  height: 90px;
  background: radial-gradient(
    circle,
    rgb(255, 0, 0, 0.4) 0%,
    rgba(255, 255, 0, 0) 60%
  );
  border-radius: 25%;
  animation: blink 4s infinite;
}

.left3 {
  position: absolute;
  top: 37%;
  left: 14%;
}

.left4 {
  position: absolute;
  top: 48%;
  left: 14%;
}

.right3 {
  position: relative;
  top: 37%;
  right: 14%;
}

.right4 {
  position: relative;
  top: 48%;
  right: 14%;
}

/* fim do carro e farol */
.container {
  position: absolute;
  padding-top: 8vh;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.esquerda {
  max-width: 33%;
  width: 33%;
  height: 70%;
  margin-left: 2rem;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom-right-radius: 200px;
  backdrop-filter: blur(50px);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.esquerda h1 {
  position: relative;
  font-size: 6rem;
  text-align: center;
  background: linear-gradient(90.03deg, #999999 48.45%, #ffd600 92.62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 100;
}

.esquerda p {
  color: white;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
  top: 1.5rem;
}

.esquerda h2 {
  font-size: 4rem;
  text-align: center;
  background: linear-gradient(90.03deg, #999999 48.45%, #ffd600 92.62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 100;
}

.wrapper {
  display: flex;
  list-style: none;
  height: 120px;
  width: 90%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper a {
  color: #fff;
  border-radius: 50%;
  margin: 0 10px;
}

.wrapper .icon {
  position: relative;
  background: #000000;
  border-radius: 50%;
  margin: 0.5rem;
  width: 3rem;
  height: 3rem;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #00970d;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

.direita {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom-left-radius: 200px;
  backdrop-filter: blur(50px);
  max-width: 33%;
  width: 33%;
  height: 70%;
  margin-right: 2rem;
  overflow: hidden;
  padding: 1rem;
}

.direita h1 {
  font-size: 7rem;
  text-align: center;
  margin-top: 3rem;
  background: linear-gradient(90.03deg, #999999 48.45%, #ffd600 92.62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 100;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  border-radius: 8px;
  bottom: 2.5rem;
}

.carousel-items {
  display: flex;
  transition: transform 1s ease;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}

.testimonial {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  color: white;
}

.client {
  font-size: 1.5rem;
  color: yellow;
  font-family: "Rajdhani", sans-serif;
  font-style: italic;
}

@media (max-width: 1750px) {
  .esquerda h1 {
    font-size: 5rem;
  }

  .direita h1 {
    font-size: 5rem;
  }

  .car-logo-3 img {
    width: 80%;
  }

  .car-logo-frente-luzes3 {
    top: 21vh;
  }

  .car-logo-frente-luzes4 {
    top: 49vh;
  }

  .left3 {
    position: absolute;
    top: 35%;
    left: 19%;
  }

  .left4 {
    position: absolute;
    top: 45%;
    left: 19%;
  }

  .right3 {
    position: relative;
    top: 35%;
    right: 19%;
  }

  .right4 {
    position: relative;
    top: 45%;
    right: 19%;
  }
}

@media (max-width: 1500px) {
  .esquerda h1 {
    font-size: 4rem;
  }

  .esquerda h2 {
    font-size: 3rem;
  }

  .esquerda p {
    font-size: 1.5rem;
  }
}

@media (max-width: 1366px) and (max-height: 768px) {
  .esquerda h1 {
    font-size: 3rem;
  }

  .esquerda h2 {
    font-size: 2.5rem;
  }

  .esquerda p {
    font-size: 1.2rem;
  }

  ul.wrapper {
    padding: 20px;
  }

  .direita h1 {
    font-size: 3rem;
  }

  p.testimonial {
    font-size: 1.5rem;
  }
}

@media (max-width: 1380px) {
  .car-logo-3 img {
    width: 60%;
  }

  .car-logo-frente-luzes3 {
    top: 28vh;
  }

  .car-logo-frente-luzes4 {
    top: 49vh;
  }

  .left3 {
    position: absolute;
    top: 33%;
    left: 25%;
  }

  .left4 {
    position: absolute;
    top: 44%;
    left: 25%;
  }

  .right3 {
    position: relative;
    top: 33%;
    right: 25%;
  }

  .right4 {
    position: relative;
    top: 44%;
    right: 25%;
  }
}

@media (max-width: 1300px) {
  ul.wrapper {
    padding: 0;
  }
}

@media (max-width: 1220px) {
  .esquerda h1 {
    font-size: 3rem;
  }

  .esquerda h2 {
    font-size: 2.5rem;
  }

  .esquerda p {
    font-size: 1.4rem;
  }

  .direita h1 {
    font-size: 3rem;
  }

  p.testimonial {
    font-size: 1.5rem;
  }
}

@media (max-width: 1100px) {
  .car-logo-3 img {
    width: 40%;
  }

  .car-logo-frente-luzes3 {
    top: 39vh;
  }

  .car-logo-frente-luzes4 {
    top: 53vh;
  }

  .headlight3 {
    width: 70px;
    height: 70px;
  }

  .headlight4 {
    width: 70px;
    height: 70px;
  }

  .left3 {
    position: absolute;
    top: 30%;
    left: 32%;
  }

  .left4 {
    position: absolute;
    top: 41%;
    left: 32%;
  }

  .right3 {
    position: relative;
    top: 30%;
    right: 32%;
  }

  .right4 {
    position: relative;
    top: 41%;
    right: 32%;
  }

  .esquerda p {
    font-size: 1.2rem;
  }
}

@media (max-width: 970px) {
  .esquerda h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .esquerda p {
    font-size: 1.1rem;
  }

  .esquerda h2 {
    font-size: 2rem;
    font-weight: 600;
  }

  .direita h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }
  p.testimonial {
    font-size: 1.2rem;
  }

  p.client {
    font-size: 1rem;
  }
}

@media (max-width: 810px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .esquerda {
    max-width: 90%;
    width: 90%;
    height: 35%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 0px;
    margin: 0 auto;
  }

  .direita {
    max-width: 90%;
    width: 90%;
    height: 35%;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    margin: 0 auto;
  }

  .car-logo-frente-luzes3 {
    top: 42.8dvh;
  }

  .car-logo-frente-luzes4 {
    top: 57.2dvh;
  }
}

@media (max-width: 660px) {
  .esquerda h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  .esquerda p {
    font-size: 1rem;
  }

  .esquerda h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .direita h1 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .car-logo-3 img {
    min-width: 242px;
  }

  .car-logo-frente-luzes3,
  .car-logo-frente-luzes4 {
    min-width: 601px;
  }
}

@media (max-width: 512px) {
  .esquerda h1 {
    font-size: 1.6rem;
    font-weight: 600;
  }

  .esquerda p {
    font-size: .8rem;
  }

  .esquerda h2 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .direita h1 {
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  p.testimonial {
    font-size: 1rem;
  }
}

@media (max-width: 340px) {
  .esquerda h1 {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .esquerda p {
    font-size: .7rem;
  }

  .esquerda h2 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .direita h1 {
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  p.testimonial {
    font-size: 1rem;
  }
}

@media (max-width: 393px) and (max-height: 852px){
  .esquerda {
    height: 38%;
  }
}
